<div class="page-header">
  <h1>About page <small>you should watch all films!</small></h1>
</div>
<div class="jumbotron">
  <p>That is true story about star wars!</p>
  <ul>
  <li><a href="/films/1">episode 1</a></li>
  <li><a href="/films/2">episode 2</a></li>
  <li><a href="/films/3">episode 3</a></li>
  <li><a href="/films/4">episode 4</a></li>
  <li><a href="/films/5">episode 5</a></li>
  <li><a href="/films/6">episode 6</a></li>
  <li><a href="/films/7">episode 7</a></li>
  </ul>
</div>