<p id="notice"><%= notice %></p>

<h1>People</h1>

<ol class="breadcrumb">
  <li class = "active"><a class="film_sorting" value="">ALL</a></li>
  <% @films.each do |f| %>
      <li><a class="film_sorting" value="<%= f.id %>"><%= f.title %></a></li>
  <% end %>
</ol>

<div id="result_div">
  <script>
      $.ajax({
          cache: false,
          data: {
              film: ''
          },
          url: "/people_ajax",
          success: function (response) {
              $('#result_div').html(response);
          }
      });
  </script>
</div>

