<p id="notice"><%= notice %></p>

<h1>People</h1>

<ol class="breadcrumb">
  <li class = "active"><a class="film_sorting" value="">ALL</a></li>
  <% @films.each do |f| %>
      <li><a class="film_sorting" value="<%= f.id %>"><%= f.title %></a></li>
  <% end %>
</ol>

<div id="result_div" value=""></div>

<div class="form-group">
<span class="label label-success">Параметр сортировки:</span>
</div>

<div class="form-group">
  <select id="sort_people_param" class="custom-select">
    <option value="name">Name</option>
    <option value="birth_year">BirthYear</option>
    <option value="height">Height</option>
    <option value="mass">Mass</option>
  </select>
</div>

<script>
    getPeopleByFilm("");
</script>