<p id="notice"><%= notice %></p>

<h1>Planets</h1>
<div id="planets_div"></div>

<div class="form-group">
  <select id="count_of_planets_select" class="custom-select">
    <option value="5">5</option>
    <option value="15">15</option>
    <option value="25">25</option>
  </select>
</div>

<script>
    getDataFromServer();
</script>
