<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<script>
    $.ajax({
        cache: false,
        data: {
            page: '1'
        },
        url: "/planets_ajax",
        success: function (response) {
            $('#planets_div').html(response);
        }
    });
</script>

<div id="planets_div"></div>